@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* header styling */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.3px solid gray;
  padding: 30px;
  background-color: rgb(36, 36, 112);
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header .search-space input {
  margin: 20px;
  padding: 10px;
  width: 800px;
  border-radius: 10px;
  font: bold 11pt "Ubuntu";
  border: 1px solid gray;
}

header .search-space button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-left: 10px;
  font: bold 11pt "Ubuntu";
  transition: all 0.3s;
}

header .search-space button:hover {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  margin-left: 10px;
  background: none;
  font: bold 11pt "Ubuntu";
  color: white;
}

.menu {
  display: none;
}

/* main styling */

.sections {
  padding-top: 30px;
}

.h3-cartaz {
  padding: 10px;
  padding-left: 100px;
  font-size: 40px;
}

.h3-top {
  display: flex;
  padding: 10px 100px;
  align-items: center;
  font-size: 40px;
}

.filtros {
  display: flex;
}

.input-search-year {
  padding: 10px;
  font: bold 15pt "Ubuntu";
  margin-right: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.button-sort-vote {
  font: bold 15pt "Ubuntu";
  margin-right: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background: none;
}

.button-sort-vote:hover {
  background: rgb(36, 36, 112);
  border: 1px solid black;
  color: white;
  border-radius: 5px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  /* justify-content: center; */
  padding-left: 40px;
  align-items: center;
}
.top-rated {
  padding-top: 70px;
}

.input-data-search {
  padding: 10px;
  font: bold 12pt "Ubuntu";
  border-radius: 10px;
  border: 1px solid gray;
}

.card-movie {
  padding: 30px;
  text-align: center;
  font: bold 15pt "Ubuntu";
}

.pesquisa {
  text-align: center;
  font: bold 20pt "Ubuntu";
  border: 1px solid gray;
  padding: 30px;
  margin: 10px 50px;
  list-style-type: none;
  border-radius: 2px 2px 10px 10px;
}

.li-resull-pesquisa {
  /* border-bottom: 0.2px solid gray; */
  padding: 20px 0;
}

.invisible-search-elements {
  display: none;
}

.li-resull-pesquisa a {
  color: black;
  text-decoration: none;
}

.li-resull-pesquisa a:hover {
  color: red;
}

.credits {
  padding: 30px;
  margin-top: 30px;
  background-color: black;
  color: white;
  font: bold 15pt "Poppins";
  text-align: center;
}

.credits a {
  color: red;
  text-decoration: none;
}

/* details */

.modal {
  background: rgba(192, 192, 192, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.details {
  display: flex;
  padding: 60px 50px;
}


.movie-data {
  list-style-type: none;
  padding-left: 50px;
}

.list-name {
  font: bold 25pt "Ubuntu";
}

.list-sinopse {
  padding: 20px 0;
  font: bold 15pt "Ubuntu";
  width: 50%;
}
.description {
  font: normal 15pt "Ubuntu";
}

.list-data {
  font: bold 15pt "Ubuntu";
}

.list-elenco {
  padding: 20px 0;
  font: bold 15pt "Ubuntu";
}

.close-modal {
  padding: 20px 50px;
  margin-left: 300px;
  border-radius: 10px;
  font: bold 20px "Ubuntu";
  background-color: white;
  transition: all 0.3s;
}

.close-modal:hover {
  border: 3px solid white;
  color: white;
  background: none;
}

/* responsive */

@media (max-width: 600px) {
  * {
    text-decoration: none;
    text-align: center;
  }

  header {
    width: 100%;
    background-color: rgb(36, 36, 112);
    padding: 20px;
    border-radius: 0 0 30px 30px;
    text-align: center;
  }

  header a {
    display: none;
    font: bold 5pt "Ubuntu";
    padding: 0;
  }

  header .search-space input {
    width: 50%;
    font: bold 10pt "Ubuntu";
  }

  header .search-space button:hover {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    margin-left: 5px;
    background: none;
    font: bold 11pt "Ubuntu";
    color: white;
  }

  .menu {
    display: none;
  }

  /* main sytling mobile */

  .sections {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
  }

  .h3-cartaz {
    padding-top: 30px;
    padding-left: 0%;
  }

  .h3-top {
    text-align: center;
  }

  .input-search-year {
    text-align: center;
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-rated {
    padding-top: 70px;
  }
  
  .pesquisa {
    text-align: center;
    font: bold 20pt "Ubuntu";
    border: 1px solid gray;
    padding: 20px;
    margin: 10px 50px;
    list-style-type: none;
    border-radius: 2px 2px 10px 10px;
  }

  /* modal styling mobile */

  .modal {
    background: rgba(192, 192, 192, 0.35);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
  }

  .details {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
  }

  .img-details {
    width: 320px;
  }

  .close-modal {
    padding: 5px 20px;
    margin-left: 100px;
    border-radius: 10px;
    font: bold 20px "Ubuntu";
    background-color: white;
    text-align: center;
    transition: all 0.3s;
  }

  .close-modal:hover {
    border: 3px solid white;
    color: white;
    background: none;
  }

  .movie-data {
    list-style-type: none;
  }

  .movie-description {
    display: row;
    padding-top: 20px;
  }

  .list-name {
    font: bold 15pt "Ubuntu";
  }

  .list-sinopse {
    padding: 10px 0;
    font: bold 10pt "Ubuntu";
    width: 100%;
  }
  .description {
    font: normal 10pt "Ubuntu";
  }

  .list-data {
    font: bold 10pt "Ubuntu";
  }

  .list-elenco {
    padding: 20px 0;
    font: bold 15pt "Ubuntu";
  }
}
