@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* header styling */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.3px solid gray;
  padding: 30px;
  background-color: rgb(36, 36, 112);
  color: white;
}

header a {
  color: white;
}

header .search-space input {
  margin: 20px;
  padding: 10px;
  width: 800px;
  border-radius: 10px;
  font: bold 11pt "Ubuntu";
  border: 1px solid gray;
}

header .search-space button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-left: 10px;
  font: bold 11pt "Ubuntu";
  transition: all 0.3s;
}

header .search-space button:hover {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  margin-left: 10px;
  background: none;
  font: bold 11pt "Ubuntu";
  color: white;
}

/* main styling */

.sections {
  padding-top: 30px;
}

.h3-cartaz,
.h3-top {
  padding: 10px;
  padding-left: 100px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  padding: 100px 30px;
  margin: 20px;
  width: 300px;
  height: 300px;
  transition: all 0.3s ease-out;
  text-align: center;
  justify-content: center;
  background-color: antiquewhite;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card h2 {
  color: #111;
  font-size: 25px;
  padding: 10px;
}

.card h4 {
  color: #4a4b4e;
  font-size: 16px;
}

.top-rated {
  padding-top: 70px;
}

.pesquisa {
  text-align: center;
  font: bold 20pt "Ubuntu";
  border: 1px solid gray;
  padding: 30px;
  margin: 10px 50px;
  list-style-type: none;
  border-radius: 2px 2px 10px 10px;
}

/* details */

.modal {
  background-color: rgb(255, 255, 255);
}
